{% trans_default_domain 'sidebar' %}

<aside class="sidebar bg-light p-3 flex-shrink-0 d-flex flex-column min-vh-100">
{#    {% if is_granted('ROLE_ADMIN') %}#}
{#        {% include('components/sidebar/admin.html.twig') %}#}
{#    {% elseif (is_granted('ROLE_MANAGER')) or not (is_granted('ROLE_USER')) %}#}
{#        {% include('components/sidebar/manager.html.twig') %}#}
{#    {% elseif not (is_granted('ROLE_ADMIN')) or not (is_granted('ROLE_MANAGER')) or (is_granted('ROLE_USER')) %}#}
{#        {% include('components/sidebar/user.html.twig') %}#}
{#    {% endif %}#}

    {% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_MANAGER')) or (is_granted('ROLE_USER')) %}
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn rounded collapsed" data-bs-toggle="collapse" data-bs-target="#store" aria-expanded="false">{{ 'sidebar.store'|trans }}</button>
                <div class="show" id="store">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-4 small">
                        <li><a class="link-dark rounded" href="{{ path('store_list') }}">{{ 'sidebar.store'|trans }}</a></li>
                        <li>
                            <span>{{ 'sidebar.categories.name'|trans }}</span>
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-4 small">
                                {% for category in categories %}

                                    {% if category.parent == null %}
                                        {{ category.name }}
                                        <li>
                                            <ul>
                                                {% for children in category.children %}
                                                    <li>
                                                        <a class="link-dark rounded" href="{{ path('store_product_category', {slug: children.slug}) }}">
                                                            {{ children.name }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>

                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn rounded collapsed" data-bs-toggle="collapse" data-bs-target="#cart" aria-expanded="false">{{ 'sidebar.cart'|trans }}</button>
                <div class="show" id="cart">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-4 small">
                        <li><a class="link-dark rounded" href="{{ path('cart') }}">{{ 'sidebar.cart'|trans }}</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders" aria-expanded="false">{{ 'sidebar.orders'|trans }}</button>
                <div class="show" id="orders">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-4 small">
                        <li><a class="link-dark rounded" href="{{ path('order_list') }}">{{ 'sidebar.order'|trans }}</a></li>
                    </ul>
                </div>
            </li>
            {% endif %}
            {% if (is_granted('ROLE_MANAGER')) or (is_granted('ROLE_ADMIN')) %}
            <li class="mb-1">
                <button class="btn rounded collapsed" data-bs-toggle="collapse" data-bs-target="#categoreis" aria-expanded="false">{{ 'sidebar.categories.name'|trans }}</button>
                <div class="show" id="categoreis">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-4 small">
                        <li><a class="link-dark rounded" href="{{ path('manager_add_category') }}">{{ 'sidebar.categories.add'|trans }}</a></li>
                        <li><a class="link-dark rounded" href="{{ path('manager_list_category') }}">{{ 'sidebar.categories.all'|trans }}</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn rounded collapsed" data-bs-toggle="collapse" data-bs-target="#products" aria-expanded="false">{{ 'sidebar.products.name'|trans }}</button>
                <div class="show" id="products">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-4 small">
                        <li><a class="link-dark rounded" href="{{ path('manager_products_list') }}">{{ 'sidebar.products.all'|trans }}</a></li>
{#                        <li><a class="link-dark rounded" href="{{ path('manager_add_products') }}">{{ 'sidebar.products.add'|trans }}</a></li>#}
                    </ul>
                </div>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="mb-1">
                    <button class="btn rounded collapsed" data-bs-toggle="collapse" data-bs-target="#users" aria-expanded="false">{{ 'sidebar.users.name'|trans }}</button>
                    <div class="show" id="users">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-4 small">
                            <li><a class="link-dark rounded" href="{{ path('admin_user_list') }}">{{ 'sidebar.users.all'|trans }}</a></li>
                            <li><a class="link-dark rounded" href="{{ path('admin_add_user') }}">{{ 'sidebar.users.add'|trans }}</a></li>
                        </ul>
                    </div>
                </li>
            {% endif %}
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <button class="btn rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account" aria-expanded="false">{{ user.userIdentifier }}</button>
                <div class="show" id="account">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-4 small">
                        <li>
                            <select class="language">
                                <option value="en">en</option>
                                <option value="ru">ru</option>
                            </select>
                        </li>
                        <li><a class="link-dark rounded" href="{{ path('app_logout') }}">{{ 'sidebar.logout'|trans }}</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        {% endif %}
</aside>