{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block pageTitle %}Register{% endblock %}
{% block content %}

    <div class="row">
        <div class="h1 text-center">Registration</div>
        <div class="col-2"></div>
        <div class="col">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary d-flex">Register</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>

        <div class="col-2"></div>
    </div>
{% endblock %}
