<a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" href="{{ path('store_list') }}">
    <span class="fs-5 fw-bold">Categories</span>
</a>
<ul class="list-unstyled ps-0">
    <li class="mb-1">
        <button class="btn rounded collapsed" data-bs-toggle="collapse" data-bs-target="#store" aria-expanded="false">Store</button>
        <div class="show" id="store">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-4 small">
                <li><a class="link-dark rounded" href="{{ path('store_list') }}">Store</a></li>
                <li>
                    <span>Categories</span>
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-4 small">
                        {% for category in categories %}
                            {% if category.parent == null %}
                                {{ category.name }}
                                <li>
                                    <ul>
                                        {% for children in category.children %}
                                            <li>
                                                <a class="link-dark rounded" href="{{ path('store_product_category', {slug: children.slug}) }}">
                                                    {{ children.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </li>
    <li class="mb-1">
        <button class="btn rounded collapsed" data-bs-toggle="collapse" data-bs-target="#cart" aria-expanded="false">Cart</button>
        <div class="show" id="cart">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-4 small">
                <li><a class="link-dark rounded" href="{{ path('cart') }}">Cart</a></li>
            </ul>
        </div>
    </li>
    <li class="mb-1">
        <button class="btn rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders" aria-expanded="false">Orders</button>
        <div class="show" id="orders">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-4 small">
                <li><a class="link-dark rounded" href="{{ path('order') }}">Your orders</a></li>
            </ul>
        </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
        <button class="btn rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account" aria-expanded="false">User</button>
        <div class="show" id="account">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-4 small">
                <li><a class="link-dark rounded" href="{{ path('app_logout') }}">Logout</a></li>
            </ul>
        </div>
    </li>
</ul>