{% extends './base.html.twig' %}

{% block title %}Add user{% endblock %}

{% block content %}
    <h1 class="h1 text-center">
        New user
    </h1>
    <div class="form d-flex justify-content-between">
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            {{ form_row(form.roles) }}
            {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}