{% extends './base.html.twig' %}

{% block title %}Add user{% endblock %}
{% block pageTitle %}New user{% endblock %}
{%  dump(form) %}
{% block sidebar %}
    <aside class="sidebar bg-light p-3 flex-shrink-0 flex-column d-flex">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" href="#">
            <span>Test</span>
        </a>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link link-dark" href="{{ path('admin_user_list') }}">User list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('admin_add_user') }}">Add user</a>
            </li>
        </ul>
        <div class="dropdown">
            <strong>Admin</strong>
        </div>
    </aside>
{% endblock %}
{% block content %}
    <div class="form d-flex justify-content-between">
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            {{ form_row(form.roles) }}
            {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}