{% extends 'base.html.twig' %}

{% block title %}Store{% endblock %}
{% block pageTitle %}Products list{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center mt-1">
            Product list
        </h1>
            <div class="row row-cols-md-5 g-5">

                {% for product in products %}
                    {% dump(product) %}
                    {% if product.isAvailable == false %}

                    {% else %}
                    <div class="col">
                        <div class="card  shadow-sm">
                            {% if product.image == null %}
                            {% else %}
                                <img class="card-img" src="{{ (image_url ~ product.image) | imagine_filter('medium_thumb') }}" alt="No found avatar">
                            {% endif %}
                            <div class="card-body">
                                <div class="clearfix mb-3">
                                    <span class="float-start badge rounded-pill bg-warning">{{ product.category.name }}</span>
                                    <span class="float-end price-hp">{{ product.price }}€</span>
                                </div>
                                <h5 class="card-title">{{ product.name }}</h5>
                                <div class="text-center my-4">
                                    <a href="{{ path('store_product', {slug: product.category.slug, name: product.name}) }}" class="btn btn-primary">Check offer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

            <div>
        </div>
    </div>
{% endblock %}