{% trans_default_domain 'store' %}

{% extends 'base.html.twig' %}

{% block title %}Store{% endblock %}
{% block pageTitle %}Products list{% endblock %}
{% block content %}
    <h1 class="text-center mt-1">
        {{ 'store.title'|trans }}
    </h1>
    <div class="container">

            <div class="row row-cols-lg-6 g-lg-5 justify-content-center">

                {% for product in products %}
                    {% if product.isAvailable == false %}

                    {% else %}
                    <div class="col">
                        <div class="card  shadow-sm">
                            {% if product.image == null %}
                            {% else %}
                                <img class="card-img" src="{{ (image_url ~ product.image) | imagine_filter('medium_thumb') }}" alt="No found avatar">
                            {% endif %}
                            <div class="card-body">
                                <div class="clearfix mb-3">
                                    <span class="float-start badge rounded-pill bg-warning">{{ product.category.name }}</span>
                                    <span class="float-end price-hp">{{ product.price }}€</span>
                                </div>
                                <h5 class="card-title">{{ product.name }}</h5>
                                <div class="text-center my-4">
                                    <a href="{{ path('store_product', {slug: product.category.slug, id: product.id}) }}" class="btn btn-primary">{{ 'store.check'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

            <div>
        </div>
    </div>
{% endblock %}