{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}
{% block content %}

    <h1 class="h1 text-center">Your orders</h1>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="row">

                            <div class="col-lg">
                                <h5 class="mb-3"><a href="{{ path('store_list') }}" class="text-body"><i
                                                class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Shopping cart</p>
{#                                        <p class="mb-0">You have {{ count }} items in your cart</p>#}
                                    </div>
                                    {#                                    <div>#}
                                    {#                                        <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"#}
                                    {#                                                                                                    class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>#}
                                    {#                                    </div>#}
                                </div>
                                {% for order in orders %}
                                    {% if app.user == order.user %}
                                    {% for orderItems in order.orderItems %}
                                        {% dump(orderItems) %}
                                        {% for product in orderItems.product %}
                                            {% dump(product) %}
                                                <div class="card mb-3">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div>
                                                                    <img src="{{ (image_url ~ product.image) | imagine_filter('medium_thumb') }}" alt="No found avatar">
                                                                </div>
                                                                <div class="ms-3">
                                                                    <h5 class="h5">{{ product.name }}</h5>
                                                                    <p class="small mb-0">{{ product.description }}</p>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div style="width: 50px;">
                                                                    <h5 class="fw-normal mb-0">{{ orderItems.count }}</h5>
                                                                </div>
                                                                <div style="width: 80px;">
                                                                    <h5 class="mb-0">{{ product.price }}€</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}